<!DOCTYPE html>
<html lang="en" ng-app="demoApp">
<% include partials/template/head.ejs %>
<body>
<div id="wrapper">
  <% include partials/template/header.ejs %>
  <% include partials/content/rli.ejs %>
  <% include partials/template/footer.ejs %>
</div>
<!-- /container -->
</body>
<% include partials/template/scripts.ejs %>
</html>
